body {
    /*min-height: 2000px;*/
    /*padding-top: 10px;*/
}

.fix-weight-center {
    width:100px;
    text-align:center;
}

.fix-weight-left {
    width:200px;
    text-align:left;
    margin-left: -3px;
}

.fix-weight-center-img {
    width:35px;
    text-align:center;
}

.fix-img-nav {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

.min-size {
    min-height: 700px;
}

.embed-responsive-16by9{padding-bottom:48%;}