<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.family.mapper.AccountPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.mc.family.model.AccountPassword" >
    <id column="password_id" property="passwordId" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="password_type" property="passwordType" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_account_password
    where password_id = #{passwordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mc.family.model.AccountPassword" >
    <selectKey resultType="java.lang.Integer" keyProperty="passwordId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_account_password (account_id, password_type, password, 
      creator, create_time, updater, 
      last_modify_time)
    values (#{accountId,jdbcType=INTEGER}, #{passwordType,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mc.family.model.AccountPassword" >
    update t_account_password
    set account_id = #{accountId,jdbcType=INTEGER},
      password_type = #{passwordType,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where password_id = #{passwordId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select password_id, account_id, password_type, password, creator, create_time, updater, 
    last_modify_time
    from t_account_password
    where password_id = #{passwordId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select password_id, account_id, password_type, password, creator, create_time, updater, 
    last_modify_time
    from t_account_password
  </select>
</mapper>