<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.family.mapper.AccountInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mc.family.model.AccountInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="rel_id" property="relId" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_account_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mc.family.model.AccountInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_account_info (user_id, username, phone, 
      email, company, product, 
      classify, alias, description, 
      rel_id, creator, create_time, 
      updater, last_modify_time)
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR}, 
      #{classify,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{relId,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mc.family.model.AccountInfo" >
    update t_account_info
    set user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      classify = #{classify,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      rel_id = #{relId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, username, phone, email, company, product, classify, alias, description, 
    rel_id, creator, create_time, updater, last_modify_time
    from t_account_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, username, phone, email, company, product, classify, alias, description, 
    rel_id, creator, create_time, updater, last_modify_time
    from t_account_info
  </select>

  <select id="selectAccountListPageByUserId" resultMap="BaseResultMap" >
    select id, user_id, username, phone, email, company, product, classify, alias, description,
    rel_id, creator, create_time, updater, last_modify_time
    from t_account_info
    where user_id = #{userId}
    order by id desc
    limit #{offset}, #{limit}
  </select>

  <select id="selectAccountListPageCountByUserId" resultType="java.lang.Integer">
    select count(1) from t_account_info where user_id = #{userId}
  </select>



</mapper>